{% extends "index.html" %}

{% block content %}
    <!-- Stage Selection -->
    <section id="stages">
        <h2>Select Stages</h2>
        <button class="stage-btn" data-stage="1">N1</button>
        <button class="stage-btn" data-stage="2">N2</button>
        <button class="stage-btn" data-stage="3">N3</button>
        <button class="stage-btn" data-stage="4">N4</button>
        <button class="stage-btn" data-stage="5">N5</button>
    </section>

    <!-- Game -->
    <section id="game-container">
        <h2>漢字！書いて</h2>
        <div id="score"></div>
        <div id="display"></div>
        <input type="text" id="romaji-input"/>
        <button id="submit">Submit</button>
        <div id="correct-answer"></div>
        <div id="true-false"></div>
        <div id="summary" style="display:none;">
            <table id = "word-table">
                <thead>
                    <tr>
                        <th>Kanji</th>
                        <th>Reading</th>
                        <th>Meaning</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button id="reset-btn">Play again</button>
        </div>
    </section>
    <script src="{{ url_for('static', filename='kanji_app.js') }}"></script>
{% endblock %}