{% extends "index.html" %}

{% block content %}
    <section id="game-container">
        <h2>Kanji Game</h2>
        <div id="score"></div>
        <div id="display"></div>
        <input type="text" id="romaji-input"/>
        <button id="submit">Submit</button>
        <div id="correct-answer"></div>
        <div id="true-false"></div>
        <div id="summary" style="display:none;">
            <table id = "word-table">
                <thead>
                    <tr>
                        <th>Kanji</th>
                        <th>Reading</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button id="reset-btn">Play again</div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='kanji_app.js') }}"></script>
{% endblock %}