{% extends "index.html" %}

{% block content %}
    <h2>Input</h2>
    <div class="form-table-form-container">
        <form class="input_form" action="/assignment/input" method="post">
            <label for="Number of Students">Number of Students</label>
            <input type="number" name="students" min="0">

            <label for="Number of courses">Number of courses</label>
            <input type="number" name="courses" min="0">

            <label for="Max students">Max #students in a course</label>
            <input type="number" name="max" min="0">

            <label for="Min students">Min #students in a course</label>
            <input type="number" name="min" min="0">

            <button type="submit">Update</button>
        </form>

        <div class = "table-container">
            <table>
                <thead>
                <tr>
                        <th>Student ID</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>3rd</th>
                        <th>4th</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in students %}
                    <tr>
                        <td>{{ s.id }}</td>
                        {% set pref = s.preference.split(',') %}
                        <td>{{ pref[0] }}</td>
                        <td>{{ pref[1] }}</td>
                        <td>{{ pref[2] }}</td>
                        <td>{{ pref[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form class="input_form2" action="/assignment/input" method="post">
            <label for="Name">Student ID:</label>
            <input type="number" name="students" min="0" required>
            <label for="Gender">Gender:</label>
            <input type="number" name="gender" min="0" max="1" step="1" required>
            <label for="Name">International:</label>
            <input type="number" name="international" min="0" max="1" step="1" required>
            <label for="preference1">1st Preference:</label>
            <select name="preference1" required>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.id }}</option>
                {% endfor %}
            </select> 
            <label for="preference2">2nd Preference:</label>
            <select name="preference2" required>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.id }}</option>
                {% endfor %}
            </select>
            <label for="preference3">3rd Preference:</label>
            <select name="preference3" required>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.id }}</option>
                {% endfor %}
            </select>
            <label for="preference4">4th Preference:</label>
            <select name="preference4" required>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.id }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Insert</button>
        </form>
    </div>

    <section class = "charts">
        <div class="chart-container"><canvas id="international_chart"></canvas></div>
        <div class="chart-container"><canvas id="gender_chart"></canvas></div>
        <div class="chart-container"><canvas id="preference_chart"></canvas></div>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <button id="result" type="submit">Result</button>
    
    <script>
        const students = {{ students | tojson }};
        const courses = {{ courses | tojson }};
    </script>

    <script src="{{ url_for('static', filename='assignment_input.js') }}"></script>
{% endblock %}