{% extends "index.html" %}

{% block content %}
    <h2>Input</h2>
    <form class="input_form" action="/assignment/input" method="post">
        <label for="Number of Students">Number of Students</label>
        <input type="number" name="students">

        <label for="Number of courses">Number of courses</label>
        <input type="number" name="courses">

        <label for="Max students">Max #students in a course</label>
        <input type="number" name="max">

        <label for="Min students">Min #students in a course</label>
        <input type="number" name="min">

        <button type="submit">Update</button>
    </form>

    <div class = "table-container">
        <table>
            <thead>
               <tr>
                    <th>Student ID</th>
                    <th>1st</th>
                    <th>2nd</th>
                    <th>3rd</th>
                    <th>4th</th>
                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                <tr>
                    <td>{{ s.id }}</td>
                    {% set pref = s.preference.split(',') %}
                    <td>{{ pref[0] }}</td>
                    <td>{{ pref[1] }}</td>
                    <td>{{ pref[2] }}</td>
                    <td>{{ pref[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <section class = "charts">
        <canvas id="international_chart"></canvas>
    <canvas id="gender_chart"></canvas>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <button id="result" type="submit">Result</button>
    
    <script>
        const students = {{ students | tojson }};
        const courses = {{ courses | tojson }};
    </script>

    <script src="{{ url_for('static', filename='assignment_input.js') }}"></script>
{% endblock %}