#game-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
}

#game-container h2 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #000000;
    letter-spacing: 1px;
}

#score {
    margin-bottom: 10px;
}

#display {
    font-size: 20px;
    margin-bottom: 30px;
}

#submit {
    display: block;
    margin: 10px auto;
    visibility: hidden;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}

#submit.show {
    visibility: visible;
}

#submit:hover {
    transform: translateY(-2px);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}