#game-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
}

#game-container h2 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #000000;
    letter-spacing: 1px;
}

#romaji-input {
    text-align: center;
}

#score {
    margin-bottom: 10px;
}

#display {
    font-size: 20px;
    margin-bottom: 30px;
}

#submit {
    display: block;
    margin: 10px auto;
    visibility: hidden;
    cursor: pointer;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
}

#submit.show {
    visibility: visible;
}

#submit:hover {
    transform: translateY(-2px);
}

#reset-btn {
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#word-table {
    border-collapse: collapse;
    width: 100%;
}

#word-table th,
#word-table td {
    border: 1px solid black;
    padding: 8px;
}