{% extends "index.html" %}

{% block content %}    
    <section id="about">
        <h2>自己紹介</h2>
        <p>初めまして、ミカです。</p>

        <p>現在カナダで事務職として働きながら、
            日本語能力試験N2の勉強をしています。
            オペレーション業務やアナリスト分野に興味があります。
        </p>

        <h3>使用技術</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>GitHub</li>
        </ul>

        <h3>目標</h3>

        <p>
            現在はWeb開発や技術スキルを学びながら、
            将来的にIT・オペレーション・分析関連の分野で
            成長していきたいと考えています。
        </p>

    </section>
    
{% endblock %}