<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio</title>
    <meta name="description" content="Personal portfolio" />
    <link rel="stylesheet" href="{{url_for('static', filename='/styles.css')}}" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="name">Michealea Faustine</a>
            <ul>
                <li><a href="{{ url_for('project')}}">Projects</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>&copy; <span id="year"></span></p>
    </footer>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html></section>